
@{
    //ViewBag.Title = "index";
    Layout = "~/Views/master.cshtml";
}

<div class="content-wrapper">

    <!-- Main Slider -->

    <div class="crumina-module crumina-module-slider container-full-width">
        <div class="swiper-container main-slider navigation-center-both-sides" data-effect="fade">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide bg-1 main-slider-bg-light">

                    <div class="container">
                        <div class="row table-cell">

                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">

                                <div class="slider-content align-center">

                                    <h1 class="slider-content-title with-decoration" data-swiper-parallax="-100">
                                        توسعه سیستم هوشمند پاندا

                                        <svg class="first-decoration TSHPanda-icon TSHPanda-icon-arrow-left">
                                            <use xlink:href="#TSHPanda-icon-arrow-left"></use>
                                        </svg>

                                        <svg class="second-decoration TSHPanda-icon TSHPanda-icon-arrow-left">
                                            <use xlink:href="#TSHPanda-icon-arrow-left"></use>
                                        </svg>

                                    </h1>
                                    <h6 class="slider-content-text" data-swiper-parallax="-200">
                                        لذت سرعت بینهایت ، آرامش از امنیت ، به صرفگی در میزان هزینه<br>ارمقان شرکت
                                        ما برای شماست<br>شما لایق بهترین ها هستید
                                    </h6>

                                    <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                        <a href="#tshpSec8" class="btn btn--yellow btn--with-shadow">
                                            بیشتر درباره ما بدینید
                                        </a>

                                        <a href="#tshpSec2" class="btn btn-border btn--with-shadow c-primary">
                                            همین حالا شروع کنید
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="slider-thumb" data-swiper-parallax="-400"
                                     data-swiper-parallax-duration="600">
                                    <img src="img/slides1.png" alt="slider">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide thumb-left bg-3 main-slider-bg-light">

                    <div class="container table full-height">
                        <div class="row table-cell">
                            <div class="col-lg-6 col-sm-12 table-cell">

                                <div class="slider-content align-both" style="direction: rtl;">

                                    <h2 class="slider-content-title" data-swiper-parallax="-100">
                                        پرواز به دنیای تکنولوژی را با ما تجربه کنید!
                                    </h2>

                                    <h6 class="slider-content-text" data-swiper-parallax="-200">
                                        همکاران ما شبانه روز در تلاشند تا بتوانند بهترین خدمت را به شما عزیزان عرضه
                                        بدارند.<br>برای ارتباط بیشتر و درخواست پروژه میتوانید فرم درخواست را برای ما
                                        پر
                                        کنید!
                                    </h6>

                                    <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                        <a href="#"
                                           class="btn btn--green full-width btn--with-shadow js-message-popup cd-nav-trigger">
                                            <i class="fa fa-cog fa-md fa-spin"></i>
                                            همین حالا درخواست پروژه را ثبت کنید!
                                        </a>

                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-6 col-sm-12 table-cell">
                                <div class="slider-thumb" data-swiper-parallax="-300"
                                     data-swiper-parallax-duration="500">
                                    <img src="img/slides2.png" alt="slider">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Prev next buttons-->

            <div class="btn-prev with-bg">
                <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-left-1">
                    <use xlink:href="#TSHPanda-icon-arrow-left-1"></use>
                </svg>
                <svg class="TSHPanda-icon TSHPanda-icon-arrow-left1">
                    <use xlink:href="#TSHPanda-icon-arrow-left1"></use>
                </svg>
            </div>

            <div class="btn-next with-bg">
                <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-right-1">
                    <use xlink:href="#TSHPanda-icon-arrow-right-1"></use>
                </svg>
                <svg class="TSHPanda-icon TSHPanda-icon-arrow-right1">
                    <use xlink:href="#TSHPanda-icon-arrow-right1"></use>
                </svg>
            </div>

        </div>
    </div>


    <!-- Info Boxes -->

    <section id="tshpSec2" class="medium-padding100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-info-box info-box--standard-hover">

                        <div class="info-box-image">
                            <img class="TSHPanda-icon" src="svg/submitRequest.svg" alt="smartphone">
                            <img class="cloud" src="img/clouds8.png" alt="cloud">
                        </div>

                        <div class="info-box-content">
                            <a href="#" class="h5 info-box-title">از ما چه میخواهید؟</a>
                            <p class="info-box-text">
                                با ثبت درخواست، تیم توسعه سیستم هوشمند پاندا به سرعت به پیگیری آن خواهد پرداخت و با
                                برگزاری جلساتی میان تیم و شما به جمعبندی درباره نیاز شما و مشخص شدن نقشه راه خواهیم
                                رسید.
                            </p>
                            <div class="main-slider-btn-wrap" data-swiper-parallax="-300">

                                <a href="#"
                                   class="btn btn--green full-width btn--with-shadow js-message-popup cd-nav-trigger">
                                    <i class="fa fa-cog fa-md fa-spin"></i>
                                    همین حالا ثبت کنید!
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-info-box info-box--standard-hover">

                        <div class="info-box-image">
                            <img class="TSHPanda-icon" src="svg/software-developer.svg" alt="smartphone">
                            <img class="cloud" src="img/clouds8.png" alt="cloud">
                        </div>

                        <div class="info-box-content">
                            <a href="#" class="h5 info-box-title">هرچه باشد خواهیم ساخت!</a>
                            <p class="info-box-text">
                                شرکت توسعه سیستم هوشمند پاندا با در اختیار داشتن نیرو کاری متعهد و توانمند در تلاش
                                میباشد تا محصول یا خدمت مورد نظر را در کمترین زمان ممکنه ارائه بدهد.<br>در این قسمت
                                تیم پشتیبانی ما طبق توافق انجام شده در موعد های مقرر به شما درباره میزان پیشرفت
                                پروژه اطلاع خواهند داد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-info-box info-box--standard-hover">

                        <div class="info-box-image">
                            <img class="TSHPanda-icon" src="svg/security.svg" alt="smartphone">
                            <img class="cloud" src="img/clouds9.png" alt="cloud">
                        </div>

                        <div class="info-box-content">
                            <a href="#" class="h5 info-box-title">اینجا همچیز امنه!</a>
                            <p class="info-box-text">
                                پس از ساخت برنامه نوبت تیم متخصص امنیتی ما خواهد بود.<br>شرکت ما با در اختیار داشتن
                                افراد خبره در زمینه تست نفوذ و امنیت پروژه شمار را به سخت ترین شیوه های ممکنه تست
                                خواهد کرد.<br>پس خیالتون از بابت امنیت راحت.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-info-box info-box--standard-hover">

                        <div class="info-box-image">
                            <img class="TSHPanda-icon" src="svg/enjoy.svg" alt="smartphone">
                            <img class="cloud" src="img/clouds10.png" alt="cloud">
                        </div>

                        <div class="info-box-content">
                            <a href="#" class="h5 info-box-title">هدف ما جلب رضایت شماست</a>
                            <p class="info-box-text">
                                تبریک میگم پروژه آماده تحویل است.<br>اما<br>فکر نکنید که ما شما را تنها خواهیم
                                گذاشت!<br>تیم پشتیبانی پاندا همیشه مراقب این پروژه خواهند بود چرا که این پروژه هم از
                                پاندا کوچولو های ماست و ما تا آخرین لحظه از آن مراقبت خواهیم کرد؛پس نگران پشتیبانی
                                هم نباشید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ... end Info Boxes -->
    <!-- Counters -->

    <section class="bg-secondary-color background-contain bg-10">

        <div class="container">
            <div class="row">
                <div class="counters">
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="crumina-module crumina-counter-item">
                            <div class="counter-numbers counter c-yellow">
                                <span data-speed="1500" data-refresh-interval="5" data-to="19689"
                                      data-from="19400">29689</span>
                            </div>
                            <h5 class="counter-title">خط کد زده شده </h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="crumina-module crumina-counter-item">
                            <div class="counter-numbers counter c-yellow">
                                <span data-speed="500" data-refresh-interval="3" data-to="5"
                                      data-from="2">5</span>
                            </div>
                            <h5 class="counter-title">برنامه ساخته شده</h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="crumina-module crumina-counter-item">
                            <div class="counter-numbers counter c-yellow">
                                <span data-speed="1200" data-refresh-interval="3" data-to="96" data-from="85">96</span>
                                <div class="units">%+</div>
                            </div>
                            <h5 class="counter-title">میزان رضایت مشتریان</h5>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                        <div class="crumina-module crumina-counter-item">
                            <div class="counter-numbers counter c-yellow">
                                <span data-speed="2000" data-refresh-interval="3" data-to="8" data-from="2">7</span>
                            </div>
                            <h5 class="counter-title">پروژه در دست اجرا</h5>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="c-white">در طی 7 ماه پس از تاسیس چه کرده ایم؟</h5>
                        <p class="c-semitransparent-white">
                            خدارا شاکر هستیم تا در کنار مشتریان عزیزمان 7 ماه پر افتخار را گذرانده ایم و تا کنون توانسته ایم بیش از 96 درصد رضایت مشتریانمان راکسب کرده باشیم.

                        </p>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- ... end  Counters -->
    <!-- Video -->

    <section id="tshpSec8" class="bg-8 background-contain pt100">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-heading">
                        <h6 class="heading-sup-title">حتما این ویدیو را مشاهده نمایید</h6>
                        <h2 class="heading-title">
                            تیم <span class="c-primary">پاندا</span> چه کار هایی میتواند انجام
                            دهد
                        </h2>
                        <p class="heading-text">
                            شرکت توسعه سیستم هوشمند پاندا با نگاهی دقیق و بلند مدت در زمینه تولید و توسعه نرم افزار میزبان شما مشتریان عزیز خواهد بود.<br>این شرکت با هدف ارتقای سطح برنامه های بسیار مهم و حیاتی در زمینه کسب و کار و ارائه مشاوره در زمینه کسب و کار و زیرساخت الکترونیک همیار شما در مسیر پیشرفت خواهد بود.
                        </p>
                    </div>
                    <a href="02_company.html"
                       class="btn btn-small btn--icon-right btn-border btn--with-shadow c-primary">
                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-right1">
                            <use xlink:href="#TSHPanda-icon-arrow-right1"></use>
                        </svg>
                        <div class="text">
                            <span class="title">لیست خدمات ما (کلیک کنید!)</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="608666405">
                        <script type="text/JavaScript"
                                src="https://www.aparat.com/embed/QIvmN?data[rnddiv]=608666405&data[responsive]=yes">
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ... end Video -->
    <!-- Clients Block -->

    <section class="crumina-module crumina-clients background-contain bg-yellow">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/csharp-old.png" class="" alt="سی شارپ">
                            <img src="img/SpecialLogos/csharp.png" class="hover" alt="سی شارپ">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/core-old.png" class="" alt="دات نت کور 3">
                            <img src="img/SpecialLogos/core.png" class="hover" alt="دات نت کور 3">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/py-old.png" class="" alt="پایتون">
                            <img src="img/SpecialLogos/py.png" class="hover" alt="پایتون">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/laravel-old.png" class="" alt="پی اچ پی لاراول">
                            <img src="img/SpecialLogos/laravel.png" class="hover" alt="پی اچ پی لاراول">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/SQLserver-old.png" class="" alt="مایکروسافت اس کیو ال سرور">
                            <img src="img/SpecialLogos/SQLserver.png" class="hover" alt="مایکروسافت اس کیو ال سرور">
                        </span>
                    </a>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/mysql-old.png" class="" alt="مای اس کیو ال">
                            <img src="img/SpecialLogos/mysql.png" class="hover" alt="مای اس کیو ال">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/vs-old.png" class="" alt="ویژوال استودیو">
                            <img src="img/SpecialLogos/vs.png" class="hover" alt="ویژوال استودیو">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/Vue-Old.png" class="" alt="ویو جی اس">
                            <img src="img/SpecialLogos/Vue.png" class="hover" alt="ویو جی اس">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/jquery-old.png" class="" alt="جی کوئری">
                            <img src="img/SpecialLogos/jquery.png" class="hover" alt="جی کوئری">
                        </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/js-old.png" class="" alt="جاوا اسکریپت">
                            <img src="img/SpecialLogos/js.png" class="hover" alt="جاوا اسکریپت">
                        </span>
                    </a>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/html5-old.png" class="" alt="اچ تی ام ال 5">
                            <img src="img/SpecialLogos/html5.png" class="hover" alt="اچ تی ام ال 5">
                        </span>
                    </a>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a class="clients-item" href="#">
                        <span class="clients-images">
                            <img src="img/SpecialLogos/css3-old.png" class="" alt="سی اس اس 3">
                            <img src="img/SpecialLogos/css3.png" class="hover" alt="سی اس اس 3">
                        </span>
                    </a>
                </div>


            </div>
        </div>
    </section>

    <!-- ... end Clients Block -->
    <!-- Info Boxes -->
    <!-- Video -->

    <section id="tshpSec8" class="bg-8 background-contain pt100">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-heading">
                        <h6 class="heading-sup-title c-primary">چگونه یک پاندا شویم ؟!</h6>
                        <h2 class="heading-title">
                            ما به شما نیاز خواهیم داشت !
                        </h2>
                        <p class="heading-text">
                            شرکت توسعه سیستم هوشمند<img src="svg/bear.svg" alt="توسعه سیستم هوشمند پاندا | متخصصین" style="margin-bottom: -7px;" width="25px"> پاندا

                            <img src="svg/bear.svg" style="margin-bottom: -7px;" alt="توسعه سیستم هوشمند پاندا | متخصصین" width="25px">
                            در 4 دپارتمان خود(دپارتمان برنامه نویسی،دپارتمان شبکه ، دپارتمان طراحی ، دپارتمان مارکتینگ) نیازمند حضور پاندایی شما خواهد بود!
                        </p>
                    </div>
                    <a href="Regpanda.aspx"
                       class="btn btn-small btn--icon-right btn-border btn--with-shadow c-primary">
                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-right1">
                            <use xlink:href="#TSHPanda-icon-arrow-right1"></use>
                        </svg>
                        <div class="text">
                            <span class="title">شرایط و ثبت نام</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <video id="honarjumovie" style="display: block;width: 100%;max-width: 405px;box-sizing: border-box;mask-image: url('https://media.flaticon.com/dist/min/img/video/sad/mask.svg');"
                           autoplay>
                        <source src="img/honarju.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>

    <!-- ... end Video -->
    <!-- Subscribe Form -->

    <section class="bg-primary-color background-contain bg-14 crumina-module crumina-module-subscribe-form">
        <div class="container">
            <div class="row">
                <div class="subscribe-form">
                    <div class="subscribe-main-content">
                        <img class="subscribe-img" src="img/subscribe-img.png" alt="image">

                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <div class="crumina-module crumina-heading">
                                <h2 class="heading-title">ارتباط با شما باعث افتخار ماست</h2>
                                <p class="heading-text">
                                    با کلیک بر دکمه زیر و پر کردن فرم میتوانید با ما در ارتباط باشید.<br>ارتباط و هم صحبتی با شما همیشه باعث افتخار ماست.
                                </p>
                            </div>

                            <div class="form-validate form-inline subscribe-form-js">
                                <a href="#"
                                   class="btn btn--green full-width btn--with-shadow js-message-popup cd-nav-trigger">
                                    <i class="fa fa-cog fa-md fa-spin"></i>
                                    همین حالا ثبت کنید!
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="subscribe-layer"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Subscribe Form -->
    <!-- Promo Block -->

    <section class="background-cover bg-blue-lighteen bg-12 align-center medium-padding120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                    <div class="crumina-module crumina-heading">
                        <h3 class="heading-title">ما کجا هستیم <span class="c-primary">؟</span></h3>
                        <p class="heading-text">
                            برای اینکه خیالتون از بابت قسمت الکترونیک کسب و کارتون راحت باشه ، حتما یک سری به ما
                            بزنید !
                        </p>
                    </div>
                </div>
            </div>

            <div style="border-width: 4px; height:450px; border-style: dashed; border-top-color: 	#98d5ff; border-right-color: 	#f89101; border-bottom-color: #01a23c; border-left-color: #0082d7;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2290.875367169621!2d51.437816268949284!3d35.70685849500312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e03a34272d39b%3A0xc976e4965a64ab4b!2zVHNoUGFuZGEg2KrZiNiz2LnZhyDYs9uM2LPYqtmFINmH2YjYtNmF2YbYryDZvtin2YbYr9in!5e0!3m2!1sen!2scl!4v1579135800895!5m2!1sen!2scl"
                        frameborder="0" style="border:0;height: 100%; width: 100%;" allowfullscreen=""></iframe>
            </div>

        </div>
    </section>

    <!-- ... end Promo Block -->

</div>
<!-- Slider Screenshots -->

<section class="crumina-module crumina-module-slider align-center">
    <div class="container">
        <div class="row " style="padding: 45px 0px;">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading">
                    <h2 class="heading-title">مشتریانی که تا کنون از خدمات ما استفاده کرده اند</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-container screenshots-item-bottom" data-autoplay="3000" data-loop="true" data-show-items="4"
         data-nospace="true" data-autoheight="false">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="screenshots-item style-2">
                    <img src="img/empLOGO/pishgamanTasisat.jpg" alt="مجموعه نشریات پیشگامان">
                    <div class="overlay-standard overlay--blue-dark"></div>
                    <a href="img/screenshot9.jpg" class="expand js-zoom-image" title="مجموعه نشریات پیشگامان">
                        <svg class="TSHPanda-icon TSHPanda-icon-expand">
                            <use xlink:href="#TSHPanda-icon-expand"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- ============================== -->
            <div class="swiper-slide">
                <div class="screenshots-item style-2">
                    <img src="img/empLOGO/velvetTextile.jpg" alt="گالری پاریچه ولوت">
                    <div class="overlay-standard overlay--blue-dark"></div>
                    <a href="img/screenshot9.jpg" class="expand js-zoom-image" title="گالری پاریچه ولوت">
                        <svg class="TSHPanda-icon TSHPanda-icon-expand">
                            <use xlink:href="#TSHPanda-icon-expand"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- ============================== -->
            <div class="swiper-slide">
                <div class="screenshots-item style-2">
                    <img src="img/empLOGO/WhaleTech.jpg" alt="شرکت مهندسی و دانشی ویراجلوه پارس">
                    <div class="overlay-standard overlay--blue-dark"></div>
                    <a href="img/screenshot9.jpg" class="expand js-zoom-image"
                       title="شرکت مهندسی و دانشی ویراجلوه پارس">
                        <svg class="TSHPanda-icon TSHPanda-icon-expand">
                            <use xlink:href="#TSHPanda-icon-expand"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- ============================== -->
            <div class="swiper-slide">
                <div class="screenshots-item style-2">
                    <img src="img/empLOGO/RasamIdea.jpg" alt="رسام ایده">
                    <div class="overlay-standard overlay--blue-dark"></div>
                    <a href="img/screenshot9.jpg" class="expand js-zoom-image" title="رسام ایده">
                        <svg class="TSHPanda-icon TSHPanda-icon-expand">
                            <use xlink:href="#TSHPanda-icon-expand"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <!-- ============================== -->
        </div>
    </div>
</section>


