
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/masters/webMaster.cshtml";
}
<!-- Block IMG-bottom -->

<section class="background-contain bg-15 bg-blue-lighteen pt120">
    <div class="container">
        <div class="row">
            <div class="crumina-module crumina-module-img-bottom">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="crumina-module-img-content medium-padding100">
                        <div class="crumina-module crumina-heading">
                            <h6 class="heading-sup-title">شرکت</h6>
                            <h2 class="heading-title">
                                به
                                <span class="c-primary">توسعه سیستم هوشمند پاندا </span> خوش آمدید.
                            </h2>
                            <div class="h6 heading-text">جمله راجب شرکت </div>
                        </div>
                        
                        <a href="15_pricing_tables.html" class="btn btn--green btn--with-shadow">
                            شروع کنید
                        </a>

                        <a href="03_products.html" class="btn btn-border btn--with-shadow c-primary">
                            تیم ما
                        </a>

                    </div>
                </div>

                <div class="col-lg-4 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-bottom" src="~/Resources/Images/man.png" alt="man">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ... end Block IMG-bottom -->
<!-- Info Boxes -->

<section class="medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">3.</h5>
                    <h3 class="h5 info-box-title">Who We Are</h3>
                    <p class="info-box-text">
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                        molestie consequat, vel illum dolore eu feugiat nulla facilisis.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">2.</h5>
                    <h3 class="h5 info-box-title">What We Do</h3>
                    <p class="info-box-text">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium
                        lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-info-box info-box--numbers">
                    <h5 class="order-number">1.</h5>
                    <h3 class="h5 info-box-title">How We Do It</h3>
                    <p class="info-box-text">
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ... end Info Boxes -->
<!-- Testimonial Slider -->

<section class="crumina-module crumina-module-slider background-contain bg-16 bg-blue-lighteen pt100">
    <div class="container">
        <div class="row">
            <div class="crumina-module crumina-module-img-bottom">


                <div class="col-lg-8 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <div class="crumina-module-img-content">
                                <div class="crumina-module crumina-heading">
                                    <h2 class="heading-title">نظرات مشتریان ما:</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="swiper-container top-navigation" data-show-items="2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="testimonial-img-author">
                                                        <img src="img/author2.png" alt="author">
                                                    </div>
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">سعید اصغری </a>
                                                        <div class="author-company">مدیرعامل ,نشریه ی پیشگامان تاسیسات</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                    از بچه های پاندا ممنونم که با بالاترین کیفیت و سریع ترین زمان ممکن پروژه رو به نحو احسنت انجام دادن 
                                                </h6>

                                                <ul class="rait-stars">
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star-half-empty">
                                                                <use xlink:href="#TSHPanda-icon-star-half-empty"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="testimonial-img-author">
                                                        <img src="img/author3.png" alt="author">
                                                    </div>
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">محمد امین هاشمی</a>
                                                        <div class="author-company">رئیس هیئت مدیره ی ویرا جلوه ی پارس</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                   شرکت توسعه سیستم هوشمند پاندا یکی از بهترین گروه های برنامه نویسی بود که تا بحال همکاری داشتیم
                                                </h6>

                                                <ul class="rait-stars">
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="swiper-slide">
                                        <div class="col-lg-12 col-md-4 col-sm-12">
                                            <div class="crumina-module crumina-testimonial-item testimonial-item-arrow">
                                                <div class="author-info-wrap">
                                                    <div class="testimonial-img-author">
                                                        <img src="img/author4.png" alt="author">
                                                    </div>
                                                    <div class="author-info">
                                                        <a href="#" class="h6 author-name">محمد  احسان بهرامی</a>
                                                        <div class="author-company">رئیس هیئت مدیره شرکت رسام ایده مهام</div>
                                                    </div>
                                                </div>

                                                <h6 class="testimonial-text">
                                                   ما از خدمات پاندا استفاده کردیم بسیار همکاری و تجربه ی خوبی بود به شما هم توصیه می کنم.
                                                </h6>

                                                <ul class="rait-stars">
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star">
                                                                <use xlink:href="#TSHPanda-icon-star"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <svg class="TSHPanda-icon TSHPanda-icon-star-half-empty">
                                                                <use xlink:href="#TSHPanda-icon-star-half-empty"></use>
                                                            </svg>
                                                        </a>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!--Prev next buttons-->

                                <div class="btn-slider-wrap navigation-top-right">

                                    <div class="btn-prev">
                                        <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-left-1">
                                            <use xlink:href="#TSHPanda-icon-arrow-left-1"></use>
                                        </svg>
                                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-left1">
                                            <use xlink:href="#TSHPanda-icon-arrow-left1"></use>
                                        </svg>
                                    </div>

                                    <div class="btn-next">
                                        <svg class="TSHPanda-icon icon-hover TSHPanda-icon-arrow-right-1">
                                            <use xlink:href="#TSHPanda-icon-arrow-right-1"></use>
                                        </svg>
                                        <svg class="TSHPanda-icon TSHPanda-icon-arrow-right1">
                                            <use xlink:href="#TSHPanda-icon-arrow-right1"></use>
                                        </svg>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-bottom" src="~/Resources/Images/man21.png" alt="man">
                </div>

            </div>
        </div>
    </div>

</section>

<!-- ... end Testimonial Slider -->
<!-- Teammembers -->

<section class="medium-padding100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="crumina-module crumina-heading align-center">
                    <h2 class="heading-title">با تیم ما آشنا شوید</h2>
                    <div class="heading-text">
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per.
                    </div>
                </div>
            </div>

            <div class="teammembers-wrap">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-teammembers-item">

                        <div class="teammembers-thumb">
                            <img src="~/Resources/Images/mohsen.png" alt="team member">
                        </div>


                        <div class="teammember-content">

                            <div class="teammembers-item-prof">مدیرعامل</div>

                            <a href="#" class="h5 teammembers-item-name">محسن کاشف</a>

                            <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt est etiam.</p>

                            <ul class="socials socials--round">
                                <li style="display:none">
                                    <a href="#" class="social__item facebook">
                                        <i class="TSHPanda-icon fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://instagram.com/m0hs_e_n?igshid=19zo68qzbf8n" class="social__item twitter">
                                        <i class="TSHPanda-icon fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li style="display:none">
                                    <a href="#" class="social__item googlePlus">
                                        <i class="TSHPanda-icon fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>

                    <div class="crumina-module crumina-teammembers-item">

                        <div class="teammembers-thumb">
                            <img src="~/Resources/Images/amirhossein.png" alt="team member">
                        </div>


                        <div class="teammember-content">

                            <div class="teammembers-item-prof">مسئول شبکه و امنیت</div>

                            <a href="#" class="h5 teammembers-item-name">امیرحسین زنوزی</a>

                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>

                            <ul class="socials socials--round">
                                <li>
                                    <a href="#" class="social__item facebook">
                                        <i class="TSHPanda-icon fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://instagram.com/amirho.mz77?igshid=1jcqz88wpyahm" class="social__item twitter">
                                        <i class="TSHPanda-icon fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="social__item googlePlus">
                                        <i class="TSHPanda-icon fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="crumina-module crumina-teammembers-item">

                        <div class="teammembers-thumb">
                            <img src="~/Resources/Images/mohammadreza.png" alt="team member">
                        </div>

                        <div class="teammember-content">

                            <div class="teammembers-item-prof">سرپرست تیم برنامه نویسی</div>

                            <a href="#" class="h5 teammembers-item-name">سید محمدرضا موسوی نیا</a>

                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>

                            <ul class="socials socials--round">
                                <li>
                                    <a href="mohammad-reza-mousavi-niya442879167" class="social__item facebook">
                                        <i class="TSHPanda-icon fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://instagram.com/m.r.mousaviniya?igshid=15tu48d3xrq5t" class="social__item twitter">
                                        <i class="TSHPanda-icon fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://github.com/mohammadrezamousaviniya" class="social__item googlePlus">
                                        <i class="TSHPanda-icon fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="crumina-module crumina-teammembers-item">

                        <div class="teammembers-thumb">
                            <img src="~/Resources/Images/Fateme.png" alt="team member">
                        </div>


                        <div class="teammember-content">

                            <div class="teammembers-item-prof">برنامه نویس</div>

                            <a href="#" class="h5 teammembers-item-name">فاطمه نیک آئین</a>

                            <p>Sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt est etiam.</p>

                            <ul class="socials socials--round">
                                <li>
                                    <a href="fatemeh-nikaeen-433a37164" class="social__item facebook">
                                        <i class="TSHPanda-icon fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://instagram.com/nicky_1377?igshid=o5hplkimev8a" class="social__item twitter">
                                        <i class="TSHPanda-icon fa fa-instagram"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://github.com/Nicky1377" class="social__item googlePlus">
                                        <i class="TSHPanda-icon fa fa-github"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- ... end Teammembers -->
